body{
    background-color: rgb(216, 200, 131);
}
#footer{
    background-color: rgb(13, 2, 53);
    font-size: 2em;
}
#fb{
    font-size: 0.5em !important;
}
nav{
    background-color: rgb(40, 14, 134);
}